.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore targets build artifacts
_targets*/*
*/out/*
*/tmp/*
!*.placeholder

# For now, ignore this data file until 
#   we download it from somewhere
memberclicks_transaction_report.csv
institution_type_xwalk.csv
